* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 1rem;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.explainer {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust based on your layout */
  margin: 20px auto 40px;
}

#searchInput {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd; /* Light grey border */
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding doesn't increase the input's size */
  font-size: 16px; /* Larger font size for better readability */
}

#searchResultsContainer {
  list-style: none;
  margin-top: 10px;
  padding: 0;
  background: #fff;
  border: 1px solid #ddd; /* Light grey border to match the input */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: absolute;
  width: 100%;
  z-index: 1; /* Ensure the list appears above other content */
}

.search-container li {
  padding: 10px;
  border-bottom: 1px solid #eee; /* Very light grey for separating items */
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth background transition on hover */
}

.search-container li:hover {
  background-color: #f9f9f9; /* Light grey background on hover */
}

.no-results {
  padding: 20px;
  text-align: center;
  color: #666; /* Dark grey for the "No results" message */
}

.form-container {
  text-align: center;
}

.generate-btn {
  text-align: center;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.generate-btn:hover {
  background-color: #0056b3;
}

.hpi-filter-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

#hpiValue {
  margin-right: 5px;
}

.random-person-container {
  text-align: center;
  margin-bottom: 20px;
}

.person-detail {
  text-align: center;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 100%;
}

.random-person-card {
  display: inline-block;
  padding: 1rem 3rem;
}

.info {
  font-weight: bold;
}

.list-title {
  text-align: center;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  margin-bottom: 20px;
  max-width: 500px;
}

@media (max-width: 300px) {
  .title {
    font-size: 0.8rem;
  }

  .explainer {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) {
  body {
    margin: 5rem;
  }

  .title {
    font-size: 3rem;
  }

  .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
  }

  .list {
    display: flex;
    flex-direction: column; /* Stacks cards vertically */
    width: auto; /* Adjust width automatically to content */
    max-width: 48%; /* Ensures that it doesn't exceed half the container's width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin: 1%; /* Provides space between the lists */
    padding: 1em; /* Adjust padding as needed for your design */
  }

  .person-detail {
    width: auto; /* Adjust width automatically to content, within the confines of the .list */
    margin-bottom: 1em; /* Space between cards */
    /* Add other styles for border, padding etc. */
  }
}
