{% extends "base.html" %}

{% block title %}
Map of Contemporaries
{% endblock %}


{% block content %}

    <div class="container">
        <h1 class="title">Map of Contemporaries</h1>
        <h3 class="explainer">Search for a famous historical figure (or click the button to generate a
            random one) and find out whose lives overlapped with theirs!</h3>
        
        <input type="text" id="searchInput" placeholder="Search for people...">
        <div id="searchResultsContainer"></div>    
            
        {% include "contemporaries/includes/person-detail.html" %}

        <form action="{% url 'set-generation-flag' %}" method="post">
            {% csrf_token %}
            <button type="submit">Generate Random Person</button>
            <label for="hpiRange">Minimum Fame Score: <span id="hpiValue">{{hpi_threshold}}</span></label>
            <input type="range" name="hpi" id="hpiRange" min="50" max="90" value="{{hpi_threshold}}"
            oninput="updateHpiValue(this.value)">
        </form>

        {% include "contemporaries/top_overlaps.html" %}
        {% include "contemporaries/fame_overlaps.html" %}
    </div>

    <script>
        function updateHpiValue(val) {
            document.getElementById('hpiValue').innerText = val
        }

        document.getElementById('searchInput').addEventListener('input', function() {
            const query = this.value;
            if (query.length >= 3) {
                fetch(`/search-person?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        // Check again if the input length is >= 3 before updating the DOM
                        if (document.getElementById('searchInput').value.length >= 3) {
                            const resultsContainer = document.getElementById('searchResultsContainer');
                            resultsContainer.innerHTML = ''; // Clear previous results
                            data.results.forEach(person => {
                                const personElement = document.createElement('div');
                                personElement.textContent = person.name;
                                personElement.addEventListener('click', () => window.location.href = `/select-person/${person.id}`);
                                resultsContainer.appendChild(personElement);
                            });
                        } else {
                            document.getElementById('searchResultsContainer').innerHTML = '';
                        }
                    });
            } else {
                document.getElementById('searchResultsContainer').innerHTML = '';
            }
        });
    </script>
    
{% endblock %}
