{% extends "base.html" %}

{% block title %}
Map of Contemporaries
{% endblock %}


{% block content %}

    <div class="container">
        <h1 class="title">Map of Contemporaries</h1>
        <h3 class="explainer">Search for a famous historical figure (or click the button to generate a
            random one) and find out whose lives overlapped with theirs!</h3>
        
            
        {% include "contemporaries/includes/person-detail.html" %}

        <form action="{% url 'set-generation-flag' %}" method="post">
            {% csrf_token %}
            <button type="submit">Generate Random Person</button>
            <label for="hpiRange">Minimum Fame Score: <span id="hpiValue">50</span></label>
            <input type="range" name="hpi" id="hpiRange" min="50" max="90" value="50"
            oninput="updateHpiValue(this.value)">
        </form>

        {% include "contemporaries/top_overlaps.html" %}
        {% include "contemporaries/fame_overlaps.html" %}
    </div>

    <script>
        function updateHpiValue(val) {
            document.getElementById('hpiValue').innerText = val
        }
    </script>
    
{% endblock %}
