{% load static %}
{% load custom_filters %}


<link rel="stylesheet" href="{% static "style.css" %}">

{% if person %}
    {% if not person.percentage %}
    <div class="random-person-card person-detail" data-occupation="{{person.occupation}}">
    {% else %}
    <div class="person-detail {{ person.occupation|css_class }}">
    {% endif %}
        <a href="{{person.wikipedia_link}}" target="_blank"><h2>{{person.name}}</h2></a> 
        <br />
        <p class="occupation-text">{{person.occupation}}</p>
        <p>{{person.lifespan}}</p>
        <p><span class="info">Fame Score:</span> {{person.hpi}}</p>
        {% if person.percentage %}
            {% include "contemporaries/includes/overlap-detail.html" %}
        {% endif %}
    </div>
{% endif %}
